.outer-container {
  display: flex;
  width: 90%;
  margin: 20px auto 20px auto;
}

@media (max-width: 800px) {
  .outer-container {
    flex-direction: column-reverse;
    width: 90%;
    margin: 20px auto 20px auto;
  }

  .form-container {
    width: 100%;
  }
}

.create-event-form {
  width: 30%;
}

.events-container {
  border: 5px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
}