:root {
  --calendar-border-color: #dbdbdb;
  --cell-height: 50px;
}

.calendar-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.buttons-group {
  background-color: rgb(232, 232, 232);
  padding: 5px;
  border-radius: 5px;
}

.buttons-group > button {
  background: transparent;
  border: none;
  padding: 5px 10px;
  color: rgb(116, 116, 116);
  width: 70px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

.buttons-group > button.active {
  background-color: white;
  box-shadow: 0 0 5px 0px rgb(183, 183, 183);
  color: black;
}

.calendar-page-container {
  width: 100%;
}

.week-view-container {
  width: 100%;
  overflow-x: auto;
}

.week-view-container > header,
.all-day-event-container,
.days-container {
  display: grid;
  grid-template-columns: 50px 10px 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.week-view-container > header > .day-container {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  text-align: center;
  color: gray;
}

.week-view-container > header > .day-container > span {
  color: black;
  font-size: 32px;
}

.time-container,
.hours-container > div {
  color: #b0b0b0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 12px;
}

.all-day-event-container {
  border-bottom: 1px solid var(--calendar-border-color);
}

.all-day-event {
  min-height: 20px;
  border-left: 1px solid var(--calendar-border-color);
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.all-day-event > div {
  background-color: rgb(31, 31, 255);
  color: white;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
}

.hours-container > div {
  height: var(--cell-height);
  position: relative;
  text-align: right;
}

.hours-container > div > span {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -6px;
}

.dashes-container > div,
.day-events > div:not(.event):not(.now-element) {
  height: var(--cell-height);
  border-bottom: 1px solid var(--calendar-border-color);
}

.day-events {
  border-left: 1px solid var(--calendar-border-color);
  position: relative;
}

.week-event {
  --backgroundColor: blue;
  --color: white;
  position: absolute;
  left: 10px;
  background-color: var(--backgroundColor);
  color: var(--color);
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  height: 100px;
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  word-break: break-all;
  overflow: hidden;
}

.week-event.small-text {
  font-size: 12px;
}

.week-event.thin {
  align-items: center;
}

.days-container {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.calendar-header {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
}

.calendar-header-title {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}

.calendar-header-title > p {
  user-select: none;
}

.calendar-header-title > p::first-letter {
  text-transform: uppercase;
}

.buttons-container {
  display: flex;
  justify-content: flex-end;
}

.buttons-container > button {
  background-color: white;
  border: 2px solid var(--calendar-border-color);
  border-radius: 5px;
  padding: 0 15px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  color: unset;
}

.buttons-container > button.square {
  aspect-ratio: 1 / 1;
  padding: 0;
  border: none;
}

.buttons-group-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.now-element {
  position: absolute;
  left: 0;
  height: 2px !important;
  background-color: rgb(206, 73, 73);
  width: 100%;
  top: 20px;
  z-index: 100;
  pointer-events: none;
}

.now-element::before {
  content: '';
  position: absolute;
  left: 0;
  top: -3px;
  height: 7px;
  width: 7px;
  background-color: red;
  border-radius: 5px;
}

.now-element::after {
  content: '';
  position: absolute;
  width: 150vw;
  height: 1px;
  top: 2px;
  top: 0px;
  left: -50vw;
  background: rgba(255, 0, 0, 0.232);
  z-index: -1;
}

/* Month Calendar */
.month-calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.month-calendar-header {
  text-align: center;
  margin-bottom: 10px;
}

.month-calendar-day-header {
  font-size: 16px;
  text-align: center;
  color: gray;
}

.month-calendar-day-header-helper {
  height: 20px;
  display: block;
  margin-top: -5px;
}

.month-calendar-day-header-helper,
.month-calendar-day {
  border-left: 1px solid var(--calendar-border-color);
  border-bottom: 1px solid var(--calendar-border-color);
}

.month-calendar-day-header-helper.last,
.month-calendar-day.last {
  border-right: 1px solid var(--calendar-border-color);
}

.month-calendar-day {
  min-height: 125px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.month-calendar-day span {
  font-style: 14px;
  padding: 5px;
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  text-align: center;
  color: gray;
}

.month-calendar-day span.today {
  color: rgb(35, 35, 35);
  background-color: rgb(241, 69, 69);
}

.month-calendar-day.gray {
  background-color: #f4f4f4;
}

.month-calendar-other-month > span {
  color: var(--calendar-border-color) !important;
}

.month-event {
  --backgroundColor: blue;
  --color: white;
  width: 100%;
  border-radius: 3px;
  background-color: var(--backgroundColor);
  color: var(--color);
  padding: 0 3px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  position: relative;
}

.calendar-modal-container {
  position: fixed;
  top: 0;
  min-height: 100vh;
  width: 100vw;
  z-index: 2138;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-modal {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-sizing: 0 0 10px rgba(0, 0, 0, 0.5);
}

.calendarLoadingIndicator {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader {
  width: 60px;
  height: fit-content;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #fff 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

.event-preview .color-dot {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.event-preview {
  width: 400px;
  max-width: 95vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-preview header {
  display: flex;
  gap: 5px;
  align-items: flex-start;
}

.event-preview header aside {
  display: flex;
  flex-direction: column;
}

.event-preview header h3 {
  font-size: 20px;
}

.event-preview p {
  color: gray;
  font-size: 14px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.buttons > div {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(232, 232, 232);
  border-radius: 50%;
  cursor: pointer;
}

.buttons > div:hover {
  background-color: rgb(222, 222, 222);
}
