.color-picker-container {
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: all 0.3s ease;
  position: relative;
  cursor: pointer;
}

.color-picker-container input:focus {
  border-color: #ff4081;
  box-shadow: 0px 0px 8px rgba(255, 64, 129, 0.5);
}

.color-picker-inner {
  display: flex;
  align-items: center;
  gap: 10px;
}

.color-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.color-picker-select {
  list-style: none;
  margin: 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 10;
  max-height: 120px;
  overflow-y: auto;
}

.color-picker-select-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.color-picker-select-item:hover {
  background-color: #f0f0f0 !important;
}