@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.site-header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2137;
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.site-header-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
    height: 50px;
}

.logo {
    font-family: "Pacifico", cursive;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>span {
    color: #a81f7f;
}



.navbar-btn {
    text-decoration: none;
    display: inline-block;
    padding: 15px 30px;
    color: white;
    background: linear-gradient(135deg, #ff4081, #f50057);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    z-index: 2;
}

.navbar-btn:hover {
    background: linear-gradient(135deg, #f50057, #ff4081);
    transform: scale(1.05) rotate(1deg);
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
}

/* Przyciski w nagłówku */
.sidebar-btn {
    font-size: 1.5em;
    color: #a81f7f;
    height: 50px;
    text-decoration: none;
    background: white;
    padding: 10px 20px;
    border: none;
    border-bottom: 3px solid #a81f7f;
    border-radius: 4px;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-btn:hover {
    border-bottom: 3px solid #d81b60;
    color: #d81b60;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.sidebar-btn:active {
    transform: translateY(1px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.user-btn {
    font-size: 1.1em;
}

@media (max-width: 800px) {
    .sidebar-btn {
        display: none;
    }
}