@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.site-header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #a81f7f dotted;
    box-shadow: 0 1px 10px 0 #a81f7f;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2137;
    background-color: white;
}

.site-header-section {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-content: center;
}



.logo {
    font-family: "Pacifico", cursive;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo>span {
    color: #a81f7f;
}

.btn {
    width: 100%;
    padding: 15px;
    border: 1px black solid;
    border-radius: 15px;
    transition-duration: 0.4s;
    background-color: #a81f7f;
    color: white;
    box-shadow: 0 1px 4px 0 #a81f7f;
    text-decoration: none;
}


.btn:hover {
    background-color: white;
    border-color: #a81f7f;
    color: black;
}